<p>
  <strong>Title:</strong>
  <%= @grafiti.title %>
</p>
 
<p>
  <strong>Latitud: </strong>
  <%= @grafiti.latitud %>
</p>

<p>
  <strong>Longitud: </strong>
  <%= @grafiti.longitud %>
</p>

<p>
  <strong> Estrato : </strong>
  <%= @grafiti.estrato %>
</p>

<p>
  <strong> Seguridad : </strong>
  <%= @grafiti.seguridad %>
</p>

<p>
  <strong> Educación : </strong>
  <%= @grafiti.educacion %>
</p>



<%= link_to 'Back', grafities_path %>